@import '../../styles/settings.scss';

.transactions-list-wrapper {
  margin: 50px 30px;
}

.list-header {
  background-color: $color-highlight;
  color: #ffffff;
  display: grid;
  grid-template-columns: 23% 23% 23% 23% auto auto;
  list-style: none;
  text-align: center;
  padding: 20px 50px;
  margin: 0;
  font-style: italic;
}

.transactions-list {
  display: grid;
  grid-template-columns: 23% 23% 23% 23% auto auto;
  list-style: none;
  text-align: center;
  padding: 20px 50px;
  margin: 0;

  &:nth-child(even) {
    background: #ffffff;
  }
  &:nth-child(odd) {
    background: $color-secondary;
  }
}

.transactions-list--item {
  margin: 0;
  padding: 0;
}

.edit-button, .delete-button {
  display: none;
  cursor: pointer;
  color: $color-danger;
  font-size: 15px;
  z-index: 100;
  background-color: transparent;
  border: none
}

.transactions-list:hover > .edit-button {
  display: block;
}

.transactions-list:hover > .delete-button {
  display: block;
}

