@import '../../styles/settings.scss';

.transactions-list-wrapper {
  margin: 50px 30px;
  min-width: 90%;
  white-space: nowrap;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.list-header {
  min-width: 90%;
  float: none;
  background-color: $color-highlight;
  color: #ffffff;
  display: grid;
  grid-template-columns: 5% 30% 15% 30% 15% 5%;
  list-style: none;
  text-align: center;
  padding: 20px 50px;
  margin: 0;
  font-style: italic;
}

.transactions-list {
  min-width: 90%;
  float: none;
  display: grid;
  grid-template-columns: 5% 30% 15% 30% 15% 5%;
  list-style: none;
  text-align: center;
  padding: 20px 50px;
  margin: 0;


  &:nth-child(even) {
    background: $color-secondary;
  }
  &:nth-child(odd) {
    background: #ffffff;
  }
}

.delete-button {
  display: none;
  cursor: pointer;
  color: $color-danger;
  font-size: 15px;
  background-color: transparent;
  border: none;
}

.transactions-list:hover > .delete-button {
  display: block;
}

.blank-list {
  text-align: center;
  margin: 50px 0;
  font-size: 21px;
  color: $color-highlight
}

.blank-list-image {
  width: 30%;
}

.disableInput {
  background-color: transparent;
  margin: 0;
  padding: 8px 0;
  outline: none;
  text-align: center;
  transition: all .3s;
  border: 1px solid transparent;

  &:hover {
    background-color: $color-primary;
    border-radius: 1px;
  }

  &::selection {background-color: transparent;}

  &:focus {
    background-color: transparent;
  }
}

.enableInput {
  background-color: transparent;
  border: 1px solid $color-highlight;
  text-align: center;
  padding: 8px 0;
  font-style: italic;
  cursor: text;
  width: auto;

  &::selection {
    background-color: transparent;
  }

  &:focus {
    background-color: transparent;
    outline: none;
  }
}

.cost-input {
  width: 60px;
}

.disableCal {
  pointer-events: none;
}

.calendar {
  background-color: transparent;
  border: none;
  text-align: center;
  outline: none;

  &:focus {
    background-color: transparent;
    border: none
  }
}

.category-icon {
  padding: 8px 0;
}

.arrow-down {
  color: red;
  padding: 8px 0;
}

.arrow-up {
  color: green;
  padding: 8px 0;
}

@media(max-width: 750px) {
  .transactions-list-wrapper {
    margin: 50px 10px;
    overflow-x: scroll;
  }

  .list-header {
    min-width:500px;
    grid-template-columns: 5% 30% 15% 30% 15% 5%;
    padding: 8px 8px;
  }
  .transactions-list {
    grid-template-columns: 5% 30% 15% 30% 15% 5%;
    padding: 8px 8px;
    min-width:500px;
  }

  .delete-button {
    display: block;
  }
}