@import '../../styles/settings.scss';

.transactions-list-wrapper {
  margin: 50px 30px;
}

.list-header {
  background-color: $color-highlight;
  color: #ffffff;
  display: grid;
  grid-template-columns: 24% 24% 24% 24% auto;
  list-style: none;
  text-align: center;
  padding: 20px 50px;
  margin: 0;
  font-style: italic;
}

.transactions-list {
  display: grid;
  grid-template-columns: 24% 24% 24% 24% auto;
  list-style: none;
  text-align: center;
  padding: 20px 50px;
  margin: 0;

  &:nth-child(even) {
    background: #ffffff;
  }

  &:nth-child(odd) {
    background: $color-secondary;
  }
}

.transactions-list--item {
  margin: 0;
  padding: 0;
}

.delete-button {
  display: none;
  cursor: pointer;
  color: $color-danger;
  font-size: 15px;
  z-index: 100;
  background-color: transparent;
  border: none
}

.transactions-list:hover > .delete-button {
  display: block;
}

.blank-list {
  text-align: center;
  margin: 50px 0;
  font-size: 21px;
  color: $color-highlight
}

.blank-list-image {
  width: 20%;
}

.disableInput {
  background-color: transparent;
  margin: 0;
  padding: 8px 0;
  outline: none;
  text-align: center;
  transition: all .3s;
  border: 1px solid transparent;

  &:hover {
    background-color: $color-primary;
    border-radius: 1px;
  }

  &::selection {background-color: transparent;}

  &:focus {
    background-color: transparent;
  }
}

.enableInput {
  background-color: transparent;
  border: 1px solid $color-highlight;
  text-align: center;
  padding: 8px 0;
  font-style: italic;
  cursor: text;

  &::selection {background-color: transparent;}



  &:focus {
    background-color: transparent;
    outline: none;

  }
}


