@import '../../styles/settings.scss';

.grid-wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
}

.grid-one-of-three {
  background-color: $color-secondary;
}

.grid-two-of-three {
  background-color: $color-primary;
}





