@import './settings.scss';

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $primary-font-color;
    font-family: 'Karla', sans-serif;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  background-color: white;
}

input:focus, input:active {
  background-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 1s ease-in-out 0s;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* Remove default arrow */
}