@import './../../styles/settings.scss';

.header {
    display: flex;
    padding: 0 60px;
    margin: 0;
    justify-content: space-between;
    align-items: center;

    & .header-title {
        margin: 0 100px 0 0;
    }
}

.login-button  {
    text-align: center;
    font-size: 20px;
    width: 150px;
    padding: 10px;
    border: 2px solid $color-highlight;
    text-decoration: none;
    color: $primary-font-color;
}

.link {
    color: $primary-font-color;
    margin-right: 80px;
    margin-left: auto;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 1px solid #6c8496;
    //font-style: italic;
}
