@import '../../styles/settings.scss';

.profile-info-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.profile-picture {
  height: 90px;
  padding-bottom: 30px;
}

.profile-info {
  display: inline-block;
  width: 40%;
  padding: 15px 0;
  text-align: center;
  font-style: italic;
  font-size: 18px;
  margin: 8px;
  position: relative;
}

.profile-info:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right,  $color-highlight, $color-secondary);
}

.statisticsButton {
  margin: 20% 0;
  padding: 10px;
  background-color: $color-highlight;
  border: none;
  border-radius: 1px;
  outline: none;
  font-style: italic;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}