@import '../../styles/settings.scss';

.form-flexbox {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.form-input {
  height: 35px;
  border: none;
  border-bottom: 1px solid $color-highlight;
  outline: none;
  background-color:$color-primary;
  text-align: center;

  &:focus {
    background-color: transparent;
  }
}
.select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 2px 15px;
}

.hidden-label {
  position: absolute;
  visibility: hidden;
}

.form-button {
  border-radius: 0;
  border: 2px solid $color-highlight;
  background-color: $color-primary;
  padding: 2px 20px;
  font-size: 18px;
  outline: none;
  transition: all 1s;
  color: $primary-font-color;
  & :focus {
    outline: none;
    outline-offset: 0;
  }
  &:hover {
  background-color: darken($color-primary, 5%);
  }
}

.empty-input {
  border-bottom: 1px solid #f84d4d;
}
