@import '../../styles/settings.scss';

.form-flexbox {
  display: flex;
  padding: 20px;
}

.form-input {
  margin: 0 30px;
  height: 35px;
  padding: 2px;
  border: 1px solid $color-highlight;
  outline: none;
}

.form-input--name {
  width: 40%;
}

.form-input--number {
  border: none;
  width: 45px;
}

.form-select {
  border: 1px solid $color-highlight;
  margin-right: 30px;
}

.form-button {
  margin: 0 25px 0 auto;
  background-color: $color-highlight;
  color: #ffffff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.input-span {
  border: 1px solid $color-highlight;
  background-color: #ffffff;
  padding-left: 2px;
}