@import '../../styles/settings.scss';

.form-flexbox {
  display: flex;
  padding: 20px;
}

.form-input {
  margin: 0 30px;
  height: 35px;
  padding: 2px;
  border: 1px solid $color-highlight;
  outline: none;
  background-color:#ffffff;
}

.form-input--name {
  width: 40%;
}

.form-select {
  border: 1px solid $color-highlight;
  margin-right: 30px;
}

.hidden-label {
  position: absolute;
  visibility: hidden;
}

.form-button {
  margin: 0 40px 0 auto;
  border-radius: 0;
  border: 2px solid $color-highlight;
  background-color: $color-secondary;
  padding: 2px 20px;
  font-size: 18px;
  outline: none;
  transition: all 1s;
  & :focus {
    outline: none;
    outline-offset: 0;
  }
  &:hover {
  background-color: darken($color-secondary, 5%);
  }
}

.empty-input {
  border: 1px solid $color-danger;
}
